project/local_settings.py
*.pyc
.DS_Store
db.sqlite3
cache.sqlite3
_db.sqlite3
_cache.sqlite3
allobj.p
costs.p
data.p
db.p
dbAIS.p
_dbAIS.p
KDtreeStructure.p

db.json
data.json
/public
/tmp
/env

*.log
.idea/
__pycache__

venv/